{% extends "layout.html" %}

{% block title %}
  About
{% endblock %}

{% block content %}
  
    <h2>About Us</h2>
    <p>Draughting Industries are perfect for businesess that dont need a full-time draughtsman but still require quality technical design and product development.</p>
    <p>We support companies by managing overflow work when internal capacity is exceeded. </p>
    <p>Draughting Industries always provides its clients with high quality draughting services at affordable rates.</p>
    <p>We work remotely from Cape Town, Western Cape and supply our clients with drawings right across the globe.</p>
    <button type="button" class="btn btn-outline-primary" onclick="window.location.href='/contact'">Get in touch</button>

{% endblock %}