<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name = "description" content ="draughting services Cape Town. Mechanical drawings. CAD.">
    <meta name = "keywords" content = "Draughting Services, Mechanical Draughting. Mechanical design. CAD Design, Cape Town, Engineering Drawings">
    <link rel = "canonical" href = "https://draughtingindustries.co.za/">
    <title> Draughting Services Cape Town | Draughting Industries</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href = "static/images/favicon-32x32.png" type="image/x-icon">
  </head>
  <body>
        <nav class="navbar navbar-expand-lg my-navbar">
            <div class="container-fluid" >
                <a class = "logo" class="navbar-brand" href="/"><img src ="static/images/Draughting industries Logo-web.png" class = "img-fluid" style = "height: 100%;" style = "width: auto;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" class="nav-link active" class ="nav-home" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/about">About us</a>
                    <a class="nav-link" href="/services">Services</a>
                    <a class="nav-link" href="/contact">Contact</a>
                </div>
                </div>
            </div>
        </nav>
        <div class="container mt-4">
            {% block content %}
            {% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>

   <footer>
    <p> By Nino Mitchell <i class="fa fa-regular fa-copyright"> </i><span id="year"></span></p>
   </footer>
   <script>
        document.getElementById("year").textContent = new Date().getFullYear();
   </script>
</html>