{% extends "layout.html" %}

{% block title %}
  About
{% endblock %}
 
{% block content %}
    <h2>Our Services</h2>
    <div class ="services-list">  
      
        <p><strong>Hand Sketch to CAD:</strong> Convert your hand-drawn ideas into precise CAD models.</p>
        <p><strong>3D Modeling & 2D Drawings:</strong> Clear visuals for production or presentation.</p>
        <p><strong>Drawings:</strong> Detailed fabrication drawings with Bills of Materials (BoMs).</p>
        <p><strong>Reverse Engineering:</strong> From physical part to CAD. </p>
        <p><strong>HVAC drawings:</strong> Building ventilation, AC system calculations and drawings according to SANS 10400.</p>
        <p><strong>Additive Manufacturing / 3D Printing: </strong> Rapid prototyping for functional testing and evaluation or Small-batch and functional part printing.</p> 
        <p><strong>Fabrication Services:</strong> Thanks to our trusted supplier network, we can deliver finished, ready-to-use products directly to you.</p>
      
    </div>
    <button type="button" class="btn btn-outline-primary" onclick="window.location.href='/contact'">Let's discuss your next project</button>
{% endblock %}
  